h1{
    color: red;
    text-align: center;
}
.container{
    background-color: gray;
    width: 300;
    border: 15px solid green;
    padding: 5px 50px 100px 50px;
    margin: 20px 520px 20px 120px;
}
.panel{
    background-color: white;
    width: 100;
    height: 100;
    border: 5px solid red;
    padding: 10px 10px 100px 10px; 
    margin: 1px 1px 20px 1px;
}
.btn{
    height: 50px;
    width: 100px;
    margin: 10px;
}